In [ ]:
for i in range(2,5):
    print(i)

2
3
4

In [ ]:
for i in range(2,5):
    print(i)

2
3
4

In [ ]:
n=5
for i in range(1, n+1):  # [1 to n]
    print(i)

1
2
3
4
5

In [ ]:
a = [10,20,30,40,50]
for i in range(0, len(a)):  # [1 to n]
    print(a[i])

print(*a)

print(a)

10
20
30
40
50
10 20 30 40 50
[10, 20, 30, 40, 50]